<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="testing">
  <test thread-count="5" name="Test">
    <classes>
      <class name="SignIn.signIn"/>
      <class name="SignIn.licenseChange"/>
      <class name="SignIn.projectCreation"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- testing -->
